on post-fs-data
    write /sys/power/wake_lock loki-staywake

    # Enable backpressure logic
    setprop debug.sf.disable_backpressure 0
    setprop debug.sf.enable_gl_backpressure 1

on boot
# Enable tachometer
    write /sys/devices/platform/pwm-fan.43/tach_enable 1

# Power management settings
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor interactive
    write /sys/devices/system/cpu/cpu1/cpufreq/scaling_governor interactive

    chown system system /sys/devices/system/cpu/cpufreq/interactive/hispeed_freq
    chown system system /sys/devices/system/cpu/cpufreq/interactive/target_loads
    chown system system /sys/devices/system/cpu/cpufreq/interactive/above_hispeed_delay
    chown system system /sys/devices/system/cpu/cpufreq/interactive/timer_rate
    chown system system /sys/devices/system/cpu/cpufreq/interactive/boost_factor
    chown system system /sys/devices/system/cpu/cpufreq/interactive/go_hispeed_load
    chown system system /sys/devices/system/cpu/cpufreq/interactive/min_sample_time
    write /sys/devices/system/cpu/cpufreq/interactive/io_busy_threshold 50

    write /sys/devices/system/cpu/cpufreq/interactive/hispeed_freq 1020000
    write /sys/devices/system/cpu/cpufreq/interactive/target_loads "65 228000:75 1020000:85"
    write /sys/devices/system/cpu/cpufreq/interactive/above_hispeed_delay 19000
    write /sys/devices/system/cpu/cpufreq/interactive/timer_rate 20000

# Good driver settings
    # default value for 0x523dc5 in d3doglregs.rky is 0.5
    setprop persist.tegra.0x523dc5 0x3f000000
    setprop persist.tegra.58027529 0x00000002
    setprop persist.tegra.a3456abe 0x087F6080

# WAR for bug 1536227: Restrict all ZBC clears to transparent black:
    setprop persist.tegra.AF73C63E 0x80007ffd
